.red {
  color: red;
}

.validationbtn {
	padding: 10px;
	min-width: 250px;
}

.full_comment_box {
	width: 100%;
	min-height: 100px;
	padding: 10px;
}

div.row {
	padding-top: 10px;
	padding-bottom: 10px;
}