<div>
	<div class="text-center" *ngIf='!imgToInspect'><h3><i class="glyphicon glyphicon-refresh"></i> Loading from the server...</h3></div>
	<div *ngIf='imgToInspect && criterialist'>
		<div class="jumbotron centered text-center"> <h2>{{imgToInspect.filename}}</h2> </div>
		<div class="row">
	  	<a href="{{imgToInspect.url}}" target="_blank">
	  		<!-- Option here: Make it open in a modal or redirect it to a special viewer software... or simply use chrome basic viewer. -->
	  		<img class="col-sm-6 text-center" src="{{imgToInspect.url}}">
	  	</a>
	  	<div class="col-sm-6">
  			<div *ngFor="let criteria of (criterialist | getOnlyActive); let i = index" class="row">
  				<div class="col-xs-12"
						[ngClass]='{"col-xs-10": submited }'
						*ngIf='imgToInspect.criteria_obj != undefined && imgToInspect.criteria_obj[criteria.uuid] != undefined'
						(click)='validateCompletion(imgToInspect.criteria_obj, resultValue.answer)'>
	  				<div>{{criteria.name}} -- {{resultValue.answer[criteria.uuid]}}
							<span *ngIf='submited'> Target: {{imgToInspect.criteria_obj[criteria.uuid]}}</span>
						</div>

  					<!-- After submition show the user the difference. -->
	  					<input
	  						class="criteriaslider"
	  						[ngClass]='sliderClass(resultValue.answer[criteria.uuid], imgToInspect.criteria_obj[criteria.uuid])'
	  						*ngIf=criteria.selector
	  						min=0,
	  						max=10
	  						steps=1
	  						type="range"
	  						[disabled]="submited"
								[(ngModel)]="resultValue.answer[criteria.uuid]"
								#slider
								(change)="convertToNbr(criteria.uuid, slider.value)">
	  					<div>
		  					<div *ngIf=!criteria.selector class="btn-group btn-toggle">
									<!-- Yes Button do Write the "0" and "1" because I keep it uniform witht he slider that write String even if it is a number type.  Maybe other Angular version will fix that.-->
		  					  <button #btnBad class="btn btn-lg btn-default"
		  					  	[disabled]="submited"
		  					  	[ngClass]='btnClass(resultValue.answer[criteria.uuid], 0, imgToInspect.criteria_obj[criteria.uuid])'
		  					  	(click)='resultValue.answer[criteria.uuid] = 0'>
		  					  	{{criteria.min_name}}
		  					  </button>
		  					  <button #btnGood class="btn btn-lg btn-default"
		  					  	[disabled]="submited"
		  					  	[ngClass]='btnClass(resultValue.answer[criteria.uuid], 10, imgToInspect.criteria_obj[criteria.uuid])'
		  					  	(click)='resultValue.answer[criteria.uuid] = 10;'>
										{{criteria.max_name}}
		  					  </button>
		  					</div>
		  				</div>
  				</div>
  				<div *ngIf='submited' [ngClass]="{'bg-danger': submited && resultValue.answer[criteria.uuid] - imgToInspect.criteria_obj[criteria.uuid] != 0, 'col-xs-2': submited}">
						<span>{{howCloseToTheTarget(resultValue.answer[criteria.uuid], imgToInspect.criteria_obj[criteria.uuid])}}</span>
  				</div>
  			</div>
	  	</div>
		</div>
	  <div class="row"> <div class="col-xs-12 bg-info">{{imgToInspect.description}}</div> </div>
		<div class="row" *ngIf="imgToInspect.info_url_arr">
			<div class="col-xs-2">Extra details:</div>
			<div class="col-xs-10">
				<div *ngFor='let url of imgToInspect.info_url_arr'> <a href="{{url}}" target="_blank">{{url}}</a> </div>
		 </div>
		</div>
	  <div class="row">
	  	<div class="col-xs-12">
	  		<textarea placeholder="Add comments.."
	  			class="full_comment_box"
	  			[disabled]='submited'
	  			[(ngModel)]="resultValue.user_comments">
	  		</textarea>
	  	</div>
	  </div>
	  <div class="row" *ngIf='!submited'>
	  	<div class="col-sm-6 text-center">
	  		<button class="btn btn-success validationbtn" [disabled]='blockSubmit' (click)='submitForm(true)'>Accept</button>
	  	</div>
	  	<div class="col-sm-6 text-center">
	  		<button class="btn btn-danger validationbtn" [disabled]='blockSubmit' (click)='submitForm(false)'>Reject</button>
	  	</div>
	  </div>
	  <div class="row" *ngIf='submited'>
	  	<div class="col-xs-12 bg-info" [ngClass]='{"bg-danger": !resultValue.success}'>Explanation: {{imgToInspect.explanation}}</div>
	  </div>
	  <div class="row text-center" *ngIf='submited'>
	  	<div class="col-sm-6">
	  		<button [disabled]="resultValue.success" class="btn btn-warning validationbtn" (click)='contest = !contest'>Contest the decision</button>
	  	</div>
	  	<div class="col-sm-6">
	  		<button class="btn btn-info validationbtn" (click)='getOneImg()'>Next</button>
	  	</div>
	  </div>
	  <div *ngIf='submited && !resultValue.success && contest' class="row">
	  	<div class="col-sm-10">
	  		<textarea placeholder="Why...?" class="full_comment_box" [(ngModel)]="contestComments"></textarea>
	  	</div>
	  	<div class="col-sm-2">
	  		<button class="btn btn-lg btn-warning" (click)='contestDecision(contestComments)'>
	  			Send Explanation
	  		</button>
	  	</div>
	  </div>
	  <br />
  </div>
	<pre> {{imgToInspect | json}} </pre>
	<pre> {{resultValue | json}} </pre>
</div>
