<div>
	<div class="text-center" *ngIf='!imgToInspect'><h3><i class="glyphicon glyphicon-refresh"></i> Loading from the server...</h3></div>
	<div *ngIf='imgToInspect && criterialist'>
		<div class="jumbotron centered text-center"> <h2>{{imgToInspect.filename}}</h2> </div>
		<div class="row">
	  	<a href="{{imgToInspect.url}}" target="_blank">
	  		<!-- Option here: Make it open in a modal or redirect it to a special viewer software... or simply use chrome basic viewer. -->
	  		<img class="col-sm-6 text-center" src="{{imgToInspect.url}}">
	  	</a>
	  	<div class="col-sm-6">
  			<div *ngFor="let criteria of (criterialist | getOnlyActive); let i = index" class="row">
  				<div class="col-xs-12" [ngClass]='{"col-xs-10": submited }'>
	  				<div>{{criteria.crit}}</div>
  					<!-- After submition show the user the difference. -->
	  				<div *ngIf='imgToInspect.criteria_array_converted[i] != undefined && imgToInspect.criteria_array_converted[i] != null'>
	  					<input 
	  						class="criteriaslider" 
	  						[ngClass]='sliderClass(resultValue.delta_array[i])'
	  						*ngIf=sliderStyle 
	  						min=0,
	  						max=10
	  						steps=1
	  						type="range"
	  						[disabled]="submited"
	  						#slider
	  						(change)='setCriteriaX(i, imgToInspect.criteria_array_converted[i], slider.value)'>
	  					<div>
		  					<div *ngIf=!sliderStyle class="btn-group btn-toggle" #btnGroup>
		  					  <button #btnBad class="btn btn-lg btn-default"
		  					  	[disabled]="submited"
		  					  	[ngClass]='btnClass(btnGroup.value, 0, resultValue.delta_array[i])'
		  					  	(click)='setCriteriaX(i, imgToInspect.criteria_array_converted[i], 0);btnGroup.value = 0'>
		  					  	Bad
		  					  </button>
		  					  <button #btnGood class="btn btn-lg btn-default" 
		  					  	[disabled]="submited"
		  					  	[ngClass]='btnClass(btnGroup.value, 1, resultValue.delta_array[i])'
		  					  	(click)='setCriteriaX(i, imgToInspect.criteria_array_converted[i], 1);btnGroup.value = 1'>
		  					  	<!-- This seems strange, but if we are on Target = Good, otherwise always 1 off -->
		  					  	Good
		  					  </button>
		  					</div>
		  				</div>
	  				</div>
	  				<div *ngIf='imgToInspect.criteria_array_converted[i] == null'>
	  					<strong>No criteria found.</strong>
	  				</div>
  				</div>
  				<div *ngIf='submited && sliderStyle' [ngClass]="{'bg-danger': submited && resultValue.delta_array[i] != 0, 'col-xs-2': submited}">
  					<span *ngIf="resultValue.delta_array[i] > 1">Too Low / Loose? <!-- Meaning the target is Way higher than the selected value --> </span>
  					<span *ngIf="resultValue.delta_array[i] <= 1 && resultValue.delta_array[i] >= -1">Around target</span>
  					<span *ngIf="resultValue.delta_array[i] < -1"> Too High / Strict? <!-- Meaning the target is lower than the selected value --> </span>
  					{{resultValue.delta_array[i]}}
  				</div>
  				<div *ngIf='submited && !sliderStyle' [ngClass]="{'bg-danger': submited && resultValue.delta_array[i] != 0, 'col-xs-2': submited}">
  					<span *ngIf="resultValue.delta_array[i] == 1 || resultValue.delta_array[i] == -1">Wrong</span>
  				</div>
  			</div>
	  	</div>
		</div>
	  <div class="row"> <div class="col-xs-12 bg-info">{{imgToInspect.description}}</div> </div>
	  <div class="row" *ngIf="imgToInspect.info_url">
	  	<div class="col-xs-12 bg-info"><a href="{{imgToInspect.info_url}}" target="_blank">See extra details / link</a> URL: {{imgToInspect.info_url}}</div>
	  </div>
	  <div class="row">
	  	<div class="col-xs-12">
	  		<textarea placeholder="Add comments.." 
	  			class="full_comment_box" 
	  			[disabled]='submited' 
	  			[(ngModel)]="resultValue.user_comments">
	  		</textarea>
	  	</div>
	  </div>
	  <div class="row" *ngIf='!submited'>
	  	<div class="col-sm-6 text-center">
	  		<button class="btn btn-success validationbtn" [disabled]='blockSubmit' (click)='submitForm(true)'>Accept</button>
	  	</div>
	  	<div class="col-sm-6 text-center">
	  		<button class="btn btn-danger validationbtn" [disabled]='blockSubmit' (click)='submitForm(false)'>Reject</button>
	  	</div>
	  	<!-- <pre >Initial: {{imgToInspect | json}}</pre> -->
	  </div>
	  <div class="row" *ngIf='submited'>
	  	<div class="col-xs-12 bg-info" [ngClass]='{"bg-danger": !resultValue.success}'>Explanation: {{imgToInspect.explanation}}</div>
	  </div>
	  <div class="row text-center" *ngIf='submited'>
	  	<div class="col-sm-6">
	  		<button [disabled]="resultValue.success" class="btn btn-warning validationbtn" (click)='contest = !contest'>Contest the decision</button>
	  	</div>
	  	<div class="col-sm-6">
	  		<button class="btn btn-info validationbtn" (click)='getOneImg()'>Next</button>
	  	</div>
	  </div>
	  <div *ngIf='submited && !resultValue.success && contest' class="row">
	  	<div class="col-sm-10">
	  		<textarea placeholder="Why...?" class="full_comment_box" [(ngModel)]="contestComments"></textarea>
	  	</div>
	  	<div class="col-sm-2">
	  		<button class="btn btn-lg btn-warning" (click)='contestDecision(contestComments)'>
	  			Send Explanation
	  		</button>
	  	</div>
	  </div>
	  <br />
  </div>
</div>
