<div>
<div class="text-center" *ngIf='!imgToInspect'><h3><i class="glyphicon glyphicon-refresh"></i> Loading from the server...</h3></div>
  <div *ngIf='imgToInspect'>
  <div class="jumbotron centered text-center">
    <h2>{{imgToInspect.filename}}</h2>
  </div>
	  <div class="row">
	  	<img class="col-sm-6 text-center" (click)='openImgInModal(imgToInspect.url)' src="{{imgToInspect.url}}">
	  	<div class="col-sm-6">
	  			<div *ngFor="let criteria of (criterialist | getOnlyActive); let i = index">
		  				<div>{{criteria.crit}} - {{imgToInspect.criteria_array_converted[i]}} - {{resultValue.delta_array[i]}}</div>
		  				<div>
		  					<!-- After submition show the user the difference. -->
			  				<div *ngIf='imgToInspect.criteria_array_converted[i] != null'>
			  					<input 
			  						class="criteriaslider" 
			  						[ngClass]='sliderClass(resultValue.delta_array[i])'
			  						*ngIf=sliderStyle 
			  						min=0, 
			  						max=10 
			  						steps=1 
			  						type="range" 
			  						[disabled]="submited" 
			  						#slider
			  						(change)='setCriteriaX(i, imgToInspect.criteria_array_converted[i], slider.value)'>
			  					<div [ngClass]="{'bg-danger': submited && resultValue.delta_array[i] != 0}">
				  					<div *ngIf=!sliderStyle class="btn-group btn-toggle" #btnGroup>
				  					  <button #btnBad class="btn btn-lg btn-default"
				  					  	[disabled]="submited"
				  					  	[ngClass]='btnClass(btnGroup.value, 0)'
				  					  	(click)='setCriteriaX(i, imgToInspect.criteria_array_converted[i], 0);btnGroup.value = 0'>
				  					  	Bad
				  					  </button>
				  					  <button #btnGood class="btn btn-lg btn-default" 
				  					  	[disabled]="submited"
				  					  	[ngClass]='btnClass(btnGroup.value, 1)'
				  					  	(click)='setCriteriaX(i, imgToInspect.criteria_array_converted[i], 1);btnGroup.value = 1'>
				  					  	<!-- This seems strange, but if we are on Target = Good, otherwise always 1 off -->
				  					  	Good
				  					  </button>
				  					</div>
				  				</div>
			  				</div>
			  				<div *ngIf='imgToInspect.criteria_array_converted[i] == null'>
			  					<strong>No criteria found.</strong>
			  				</div>
		  				</div>
	  			</div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-xs-12 bg-info">{{imgToInspect.description}}</div>
	  </div>
	  <div class="row">
	  	<div class="col-xs-12">
	  		<textarea class="full_comment_box" [disabled]='submited' [(ngModel)]="resultValue.user_comments"></textarea>
	  	</div>
	  </div>
	  <div class="row" *ngIf='!submited'>
	  	<div class="col-sm-6 text-center">
	  		<button class="btn btn-success validationbtn" [disabled]='blockSubmit' (click)='submitForm(true)'>Accept</button>
	  	</div>
	  	<div class="col-sm-6 text-center">
	  		<button class="btn btn-danger validationbtn" [disabled]='blockSubmit' (click)='submitForm(false)'>Reject</button>
	  	</div>
	  	<pre >Initial: {{imgToInspect | json}}</pre>
	  </div>
	  <div class="row" *ngIf='submited'>
	  	<div class="col-xs-12 bg-info" [ngClass]='{"bg-danger": !resultValue.success}'>Explanation: {{imgToInspect.explanation}}</div>
	  </div>
	  <div class="row" *ngIf='submited'>
	  	<div class="col-xs-12 text-center">
	  		<button class="btn btn-info validationbtn" (click)='getOneImg()'>Next</button>
	  	</div>
	  	<pre>Result: {{resultValue | json}}</pre>
	  </div>
  </div>
</div>
