<div *ngIf="ratioPerUser">
	<table class="table table-striped">
		<thead>
			<tr>
					<th>Username</th>
					<th>Sampling</th>
					<th>Global Success rate (good/total) % </th>
					<th>Success on Good img: % </th>
					<th>Success on Bad img: % </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of ratioPerUserPc">
				<td> {{user.username}} </td>
				<td> {{user.total}} </td>
				<td> {{user.globSuccessRate}} </td>
				<td> {{user.succOnGoodImg}} </td>
				<td> {{user.succOnBadImg}} </td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<table class="table table-striped">
		<thead>
			<tr>
				<th> Username </th>
				<th> Sampling </th>
				<th> Good Img </th>
				<th> Bad Img </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of ratioPerUser">
				<td> {{user.username}} </td>
				<td> {{user.total}} </td>
				<td> {{user.successgood + user.failedgood}}</td>
				<td> {{user.successbad + user.failedbad}} </td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center" *ngIf="!ratioPerUser"> Loading... </div>
