<div>
Option1: Get a Golden image from the system and modify it. Or Delete it (Add Delete flag in Node/postgres for Golden) <br>

To Add, if the OID is in the route load it directly. <br>
Add a "send" on enter key.
<div *ngIf='previousOid'>Previous Submitted img is {{previousOid}}</div>
<div *ngIf='goldenDetails && criterialist'>
<div class="row">
	<div class="form-group col-sm-6">
		<div class="input-group">
			<div disabled="!oid.value" class="input-group-addon">Img #</div>
		  <input [(ngModel)]='manualOid' class="form-control" type="number" placeholder="oid# 16445" min=0 #oid (keydown)="fetchOnEnter($event, oid.value)">
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<button class="btn btn-default" [ngClass]="{'btn-info': goldenDetails.oid}" (click)="resetBlankImg()">Reset to Blank</button>
		<button class="btn btn-default" *ngIf='previousOid' (click)="fetchOnEnter('getOld', previousOid)">Get Previous image</button>
	</div>
</div>
<br>
<form (ngSubmit)="onSubmit()" #goldenImg="ngForm">
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
			  <div class="form-group col-xs-12">
			    <div class="input-group">
			      <div class="input-group-addon">URL</div>
			      <input type="url" class="form-control" required
			      [(ngModel)]="goldenDetails.url">
			    </div>
			  </div>
			</div>
			<div class="row text-center">
				<button (click)="setRandomKittenUrl()">Surprise me...</button>
			</div>
			<div class="row" *ngIf="goldenDetails.url">
				<a href="{{goldenDetails.url}}" target="_blank">
					<img class="col-xs-12" src="{{goldenDetails.url}}">
				</a>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon form-description-label">Filename</div>
		      <input type="text" class="form-control" required
		      placeholder="Top title of the image"
		      [(ngModel)]="goldenDetails.filename">
		    </div>
		  </div>


		  <div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon form-description-label">Pass or Fail</div>
		      <input type="button" class="form-control" required
		      (click)="goldenDetails.passfail = !goldenDetails.passfail"
		      [(ngModel)]="goldenDetails.passfail"
		      [ngClass]="{'btn-success':goldenDetails.passfail == true, 'btn-danger': goldenDetails.passfail == false}">
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon form-description-label">Img type</div>
		      <input type="text" class="form-control"
		      placeholder="trademark focus contrast typo..."
		      [(ngModel)]="goldenDetails.type">
		    </div>
		  </div>

		  <div *ngFor='let criteria of criterialist; let i = index;'>
		  	{{criteria.name}} <strong *ngIf="criteria.deleted == true" class="bg-danger">- Disabled</strong>
		  	<div class="row text-center" *ngIf="goldenDetails.criteria_obj && criteria.deleted != true">
		  		<div class="col-xs-1">
						<span *ngIf='criteria.min_name'>{{criteria.min_name}}</span>
		  			<i *ngIf='goldenDetails.criteria_obj[criteria.uuid] != null && goldenDetails.criteria_obj[criteria.uuid] <=5 && !criteria.min_name'
		  				class="glyphicon glyphicon-fire text-danger"></i></div>
		  		<div class="col-xs-1">{{goldenDetails.criteria_obj[criteria.uuid]}}</div>
			  	<div class="col-xs-8">
			  	<input
			  		class="criteriaslider"
						*ngIf="criteria.selector"
			  		[ngClass]="{'default_null_value': goldenDetails.criteria_obj[criteria.uuid] == null}"
			  		min=0
			  		max=10
			  		steps=1
			  		type="range"
						[(ngModel)]="goldenDetails.criteria_obj[criteria.uuid]"
			  		#slider
						(change)="convertToNbr(criteria.uuid, slider.value)">
						<div *ngIf=!criteria.selector class="btn-group btn-toggle">
							<button class="btn btn-lg btn-default"
								[ngClass]='{"btn-success": goldenDetails.criteria_obj[criteria.uuid] == 0}'
								(click)='goldenDetails.criteria_obj[criteria.uuid] = 0'>
								{{criteria.min_name}}
							</button>
							<button class="btn btn-lg btn-default"
								[ngClass]='{"btn-success": goldenDetails.criteria_obj[criteria.uuid] == 10}'
								(click)='goldenDetails.criteria_obj[criteria.uuid] = 10'>
								{{criteria.max_name}}
							</button>
						</div>
			  	</div>
		  		<div class="col-xs-1">
						<span *ngIf='criteria.max_name'>{{criteria.max_name}}</span>
						<i *ngIf='goldenDetails.criteria_obj[criteria.uuid] >5 && !criteria.max_name' class="glyphicon glyphicon-ok text-success"></i>
					</div>
		  		<div class="col-xs-1" (click)='goldenDetails.criteria_obj[criteria.uuid] = null'>
						<i *ngIf="goldenDetails.criteria_obj[criteria.uuid]" class="glyphicon glyphicon-remove"></i>
					</div>
		  	</div>
		  </div>
		  <br>

			<div *ngFor="let url of goldenDetails.info_url_arr;let urlIndex = index">
				<div> URL:
					<a href="{{url}}" target="_blank">{{url}}</a> <i (click)="removeThisItem(goldenDetails.info_url_arr, urlIndex)" class="glyphicon glyphicon-remove"></i>
				</div>
			</div>
		  <div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon form-description-label">Extra Info Url</div>
		      <input type="url" class="form-control" #newurl
		      [(ngModel)]="tempHolder">
					<div type="buttons" class="form-control" name="button" (click)="addToInfoUrl(tempHolder);tempHolder=''">Add</div>
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon form-description-label">Description</div>
		      <textarea type="text" class="form-control"
		      placeholder="Description to help the user make a decision"
		      [(ngModel)]="goldenDetails.description"></textarea>
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon form-description-label">Explanation</div>
		      <textarea type="text" class="form-control"
		      placeholder="Why it pass or fail?"
		      [(ngModel)]="goldenDetails.explanation"></textarea>
		    </div>
		  </div>
		  <div class="form-group text-center">
		  	<button type="submit" class="btn btn-lg btn-default validationbtn" [disabled]="!goldenImg.valid">
					<span *ngIf='goldenDetails.oid'>Update</span>
					<span *ngIf='!goldenDetails.oid'>Create</span>
				</button>
		  </div>
			<div class='form-group text-center'>
		  	<button class='btn btn-lg btn-default' [ngClass]="{'btn-danger': !goldenDetails.deleted}"
				(click)="goldenDetails.deleted = !goldenDetails.deleted">
					<span *ngIf='!goldenDetails.deleted'>Delete</span>
					<span *ngIf='goldenDetails.deleted'>Restore</span>
				</button>
		  </div>
		</div>
	</div>

</form>

<pre>{{goldenDetails | json}}</pre>
</div>
</div>
